<div id="account-center">
  <!-- <ToastContainer /> -->
  <div id="center-box">
    <form
      [formGroup]="loginForm"
      class="form-dark"
      (ngSubmit)="handleSubmit($event, loginForm.value)"
    >
      <div class="field-container">
        <input
          id="email"
          autoComplete="off"
          type="text"
          title="Email"
          formControlName="email"
          name="email"
          value=""
          placeholder="EMAIL"
        />
        <input
          *ngIf="form === 'signUp'"
          id="username"
          autoComplete="off"
          type="text"
          title="Username"
          formControlName="username"
          name="username"
          value=""
          placeholder="USERNAME"
        />
        <input
          *ngIf="form === 'signUp' || form === 'login'"
          id="password"
          autoComplete="off"
          type="password"
          title="Password"
          formControlName="password"
          name="password"
          value=""
          placeholder="PASSWORD"
        />
        <input
          *ngIf="form === 'signUp'"
          id="passwordConfirm"
          autoComplete="off"
          type="password"
          title="password-confirm"
          formControlName="passwordConfirm"
          name="password-confirm"
          value=""
          placeholder="CONFIRM PASSWORD"
        />
      </div>
      <!-- <div *ngIf="form === 'signUp'" id="recaptcha"></div> -->
      <Input
        class="border-button"
        type="submit"
        [value]="formSubmitButtonLabel"
      />
      <p>
        <span *ngIf="canSignUp">
          <button class="switch-form" (click)="switchForm($event)">
            {{ form === "login" ? "Sign Up" : "Login" }}
          </button>
          <span> | </span>
        </span>
        <button
          id="forgot-password"
          class="switch-form"
          (click)="switchForm($event)"
        >
          Forgot Password
        </button>
      </p>
    </form>
  </div>
</div>
