<form
  id="edit-form"
  class="form-light"
  [formGroup]="editAccountForm"
  (ngSubmit)="handleSubmit($event)"
>
  <div class="field-container">
    <input
      *ngIf="editField === 'edit-username'"
      id="username"
      autoComplete="off"
      type="text"
      title="Username"
      formControlName="username"
      name="username"
      placeholder="USERNAME"
    />
    <input
      *ngIf="editField === 'edit-email'"
      id="email"
      autoComplete="off"
      type="text"
      title="Email"
      formControlName="email"
      name="email"
      placeholder="EMAIL"
    />
    <div *ngIf="editField === 'edit-password'">
      <input
        id="password"
        autoComplete="off"
        type="password"
        title="Password"
        formControlName="password"
        name="password"
        placeholder="PASSWORD"
      />
      <input
        id="passwordConfirm"
        autoComplete="off"
        type="password"
        title="Password Confirm"
        formControlName="passwordConfirm"
        name="password-confirm"
        placeholder="CONFIRM PASSWORD"
      />
    </div>
    <textarea
      *ngIf="editField === 'edit-bio'"
      id="bio"
      title="Bio"
      formControlName="bio"
      name="bio"
      value=""
      placeholder="BIO"
    ></textarea>
  </div>
  <Input class="border-button" type="submit" />
</form>
